<div class="main-container">
  <div class="tabs-container">
    <div class="tabs-header">
      <button
        class="tab-button"
        [class.active]="activeTab() === 'football'"
        (click)="activeTab.set('football')"
      >
        ⚽ Football
      </button>
      <button
        class="tab-button"
        [class.active]="activeTab() === 'cricket'"
        (click)="activeTab.set('cricket')"
      >
        🏏 Cricket
      </button>
    </div>

    <div class="tabs-content">
      @if (activeTab() === "football") {
        <app-h-timeline
          [timelineData]="footballHData"
          [totalTime]="footballHTotalTime"
          [iconOnly]="true"
        >
        </app-h-timeline>
        <app-v-timeline [timelineData]="footballData"></app-v-timeline>
      } @else if (activeTab() === "cricket") {
        <app-v-timeline [timelineData]="cricketData"></app-v-timeline>
      }
    </div>
  </div>
</div>
