<div class="event wicket wicket-{{data()?.direction}}">
  <div class="event-icon wicket-icon">🏏</div>
  <div class="event-details">
    <div class="event-time">{{ data()?.overs }}</div>
    <div class="event-description">
      <span class="team-badge" [class.team-left]="data()?.direction === 'left'">
        {{ data()?.team }}
      </span>
      <span class="wicket-info">{{ data()?.player }} - WICKET</span>
    </div>
    <div class="dismissal-type">{{ data()?.dismissalType }}</div>
  </div>
</div>
