<div class="event goal" [class.goal-right]="data()?.direction === 'right'">
  <div class="event-icon goal-icon">⚽</div>
  <div class="event-details">
    <div class="event-time">{{ data()?.time }}</div>
    <div class="event-description">
      <span class="team-badge" [class.team-right]="data()?.direction === 'right'">
        {{ data()?.teamName }}
      </span>
      <span class="goal-scorer">{{ data()?.scorer }}</span>
    </div>
    <ng-container *ngIf="data()?.assist && data()?.assist !== 'None'">
      <div class="goal-assist">
        Assist: <strong>{{ data()?.assist }}</strong>
      </div>
    </ng-container>
  </div>
</div>
